.hobbies h1{
    text-align: center;
    margin-bottom: 10px;
}
.hobbies-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}
.gallery{
    max-width: 25%;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
}
.gallery:hover{
    border: 1px solid hsl(0, 0%, 20%);
}
.gallery img{
    width: 100%;
    height: auto;
}
.gallery p{
    padding: 10px;
    text-align: center;
}
@media(max-width:840px){
    h1{
        font-size: 40px;
        line-height: 50px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
    }
}
@media(max-width:680px){
    h1{
        font-size: 30px;
        line-height: 40px;
    }
    p{
        font-size: 15px;
        line-height: 25px;
    }
}
@media(max-width:580px){
    .gallery.chess{
        display: none;
    }
    .gallery.code{
        display: none;
    }
    .hobbies-wrapper.d{
        display: flex;
    }
    .gallery{
        max-width: 145px;
    }
}
@media(max-width:415px){
    .welcome-button{
        padding: 10px 30px;
        font-size: 15px;
    }
}


.d{
    display: none;
}